{% extends "layout.html" %}

{% block pageTitle %}
What are you coming to the UK to do? - Check if you need a UK visa
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Check if you need a UK visa</span>
      <h1 class="govuk-heading-l">What are you coming to the UK to do?</h1>

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="tourism">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Tourism or visiting family and friends
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Work, academic visit or business
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          Study
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
          Transit (on your way to somewhere else)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
          Join partner or family for a long stay
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-5" name="where-do-you-live" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-5">
          Get married or enter into a civil partnership
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-6" name="where-do-you-live" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-6">
          Stay with your child, if they’re at school
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-7" name="where-do-you-live" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-7">
          Have medical treatment
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-8" name="where-do-you-live" type="radio" value="northern-ireland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-8">
          For official diplomatic or government business (including transit through the UK)
        </label>
      </div>
    </div>

  </fieldset>
</div>
      <p>
          <a href="q3"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
          </p>


                    <h2 class="govuk-heading-m subsection">Your answers</h2>

                    <p class="govuk-body-m"><a href="#">Start again</a>



                      <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">

                            <dt class="govuk-summary-list__key">What's your nationality as shown on your passport or travel document?	</dt>
                            <dd class="govuk-summary-list__value">India</dd>



                              <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" data-module="gem-track-click" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="Which other countries will you be going to? / Spain" href="/covid-travel-abroad/which-country?any_other_countries_1=yes&amp;any_other_countries_2=no&amp;transit_countries%5B%5D=none&amp;travelling_with_children%5B%5D=zero_to_four&amp;vaccination_status=vaccinated&amp;which_1_country=portugal&amp;which_country=spain">
                                  Change<span class="govuk-visually-hidden">Question</span></a>

                  </dd>
                  </div>
                  </dd>
                  </div>
                  </div>
    </div>
  </div>

{% endblock %}
