{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Check if you need a UK visa</span>
      <h1 class="govuk-heading-l">Are you planning to work in any of these types of job?</h1>


      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
          Health and care professional
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Digital technology professional
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          Academic or researcher
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-5" name="where-do-you-live" type="radio" value="arts-culture">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-5">
          Work in arts or culture
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-6" name="where-do-you-live" type="radio" value="sports">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-6">
          Professional sportsperson
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-7" name="where-do-you-live" type="radio" value="religious-worker">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-7">
          Religious worker
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-8" name="where-do-you-live" type="radio" value="start-business">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-8">
          I want to start a business
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-9" name="where-do-you-live" type="radio" value="other">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-9">
          I want to do another type of job - show me other work visas
        </label>
      </div>
    </div>

  </fieldset>
</div>
      <p>
          <a href="results-page-ur"><button class="govuk-button" data-module="govuk-button">Continue</button></a>
          </p>




                <h2 class="govuk-heading-m subsection">Your answers</h2>

                <p class="govuk-body-m"><a href="#">Start again</a>



                  <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">

                        <dt class="govuk-summary-list__key">What's your nationality as shown on your passport or travel document?	</dt>
                        <dd class="govuk-summary-list__value">India</dd>



                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" data-module="gem-track-click" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="Which other countries will you be going to? / Spain" href="/covid-travel-abroad/which-country?any_other_countries_1=yes&amp;any_other_countries_2=no&amp;transit_countries%5B%5D=none&amp;travelling_with_children%5B%5D=zero_to_four&amp;vaccination_status=vaccinated&amp;which_1_country=portugal&amp;which_country=spain">
                              Change<span class="govuk-visually-hidden">Question</span></a>

              </dd>
              </div>          <div class="govuk-summary-list__row">

                        <dt class="govuk-summary-list__key">What are you coming to the UK to do?	</dt>
                        <dd class="govuk-summary-list__value">Work, academic visit or business	</dd>



                          <dd class="govuk-summary-list__actions">
                                            <a class="govuk-link" data-module="gem-track-click" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="Will you be going to any other countries? / Yes" href="/covid-travel-abroad/any-other-countries-1?any_other_countries_1=yes&amp;any_other_countries_2=no&amp;transit_countries%5B%5D=none&amp;travelling_with_children%5B%5D=zero_to_four&amp;vaccination_status=vaccinated&amp;which_1_country=portugal&amp;which_country=spain">
                              Change<span class="govuk-visually-hidden"></span></a>

              </dd>
              </div>          <div class="govuk-summary-list__row">

                        <dt class="govuk-summary-list__key">How long are you planning to work in the UK for?	</dt>
                        <dd class="govuk-summary-list__value">longer than 6 months	</dd>



                          <dd class="govuk-summary-list__actions">
                                            <a class="govuk-link" data-module="gem-track-click" data-track-category="Smart Answer Change Link" data-track-action="Link clicked" data-track-label="Which other countries will you be going to? / Portugal" href="/covid-travel-abroad/which-1-country?any_other_countries_1=yes&amp;any_other_countries_2=no&amp;transit_countries%5B%5D=none&amp;travelling_with_children%5B%5D=zero_to_four&amp;vaccination_status=vaccinated&amp;which_1_country=portugal&amp;which_country=spain">
                              Change<span class="govuk-visually-hidden"></span></a>

              </dd>
              </div>


                </div>




    </div>
  </div>

{% endblock %}
